pip install numpy scipy pandas matplotlib seaborn scikit-learn ipykernel

In [2]:
import pandas as pd
import numpy as np

df_car = pd.read_csv("../datasets/cars/data.csv", sep=",", header=0)
df_car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11902 non-null  float64
 5   Engine Cylinders   11911 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11914 non-null  int64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 1.5+ MB

In [4]:
brands = ["Saab", "Scion"]
minYear = 2010
gasoline_fuel = [
    "gasoline",
    "regular unleaded",
    "premium unleaded (required)",
    "premium unleaded (recommended)",
]
flex_fuel = [
    "flex-fuel",
    "flex-fuel (unleaded/E85)",
    "flex-fuel (premium unleaded required/E85)",
    "flex-fuel (premium unleaded recommended/E85)",
]
natGas = ["natural gas", "flex-fuel (unleaded/natural gas)"]
suv = ["SUV", "4dr SUV", "2dr SUV", "Convertible SUV"]
hatchback = ["Hatchback", "4dr Hatchback", "2dr Hatchback"]
pickup = ["Pickup", "Crew Cab Pickup", "Extended Cab Pickup", "Regular Cab Pickup"]
minivan = ["Minivan", "Passenger Minivan", "Cargo Minivan"]
fwd = ["front wheel drive", "FWD"]
rwd = ["rear wheel drive", "RWD"]
awd = ["all wheel drive", "AWD"]
fourwd = ["four wheel drive", "4WD"]
three_dr = 3
df_car = df_car.where(df_car["Make"] != brands[0])
df_car = df_car.where(df_car["Make"] != brands[1])
df_car = df_car.where(df_car["Year"] >= minYear)
df_car = df_car.where(df_car["Engine Fuel Type"] != natGas[0])
df_car = df_car.where(df_car["Engine Fuel Type"] != natGas[1])
df_car = df_car.where(df_car["Number of Doors"] != three_dr)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == gasoline_fuel[1],
    gasoline_fuel[0],
    df_car["Engine Fuel Type"],
)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == gasoline_fuel[2],
    gasoline_fuel[0],
    df_car["Engine Fuel Type"],
)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == gasoline_fuel[3],
    gasoline_fuel[0],
    df_car["Engine Fuel Type"],
)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == flex_fuel[1], flex_fuel[0], df_car["Engine Fuel Type"]
)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == flex_fuel[2], flex_fuel[0], df_car["Engine Fuel Type"]
)
df_car["Engine Fuel Type"] = np.where(
    df_car["Engine Fuel Type"] == flex_fuel[3], flex_fuel[0], df_car["Engine Fuel Type"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == suv[1], suv[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == suv[2], suv[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == suv[3], suv[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == hatchback[1], hatchback[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == hatchback[2], hatchback[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == pickup[1], pickup[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == pickup[2], pickup[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == pickup[3], pickup[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == minivan[1], minivan[0], df_car["Vehicle Style"]
)
df_car["Vehicle Style"] = np.where(
    df_car["Vehicle Style"] == minivan[2], minivan[0], df_car["Vehicle Style"]
)
df_car["Driven_Wheels"] = np.where(
    df_car["Driven_Wheels"] == fwd[0], fwd[1], df_car["Driven_Wheels"]
)
df_car["Driven_Wheels"] = np.where(
    df_car["Driven_Wheels"] == rwd[0], rwd[1], df_car["Driven_Wheels"]
)
df_car["Driven_Wheels"] = np.where(
    df_car["Driven_Wheels"] == awd[0], awd[1], df_car["Driven_Wheels"]
)
df_car["Driven_Wheels"] = np.where(
    df_car["Driven_Wheels"] == fourwd[0], fourwd[1], df_car["Driven_Wheels"]
)
df_car = df_car.dropna(axis=0, how="all")
df_car = df_car.reset_index()
df_car.drop("index", axis=1, inplace=True)
df_car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011.0,gasoline,335.0,6.0,MANUAL,RWD,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26.0,19.0,3916.0,46135.0
1,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",Compact,Convertible,28.0,19.0,3916.0,40650.0
2,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,High-Performance",Compact,Coupe,28.0,20.0,3916.0,36350.0
3,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",Compact,Coupe,28.0,18.0,3916.0,29450.0
4,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,Luxury,Compact,Convertible,28.0,18.0,3916.0,34500.0

In [5]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               7647 non-null   object
 1   Model              7647 non-null   object
 2   Year               7647 non-null   float64
 3   Engine Fuel Type   7647 non-null   object
 4   Engine HP          7647 non-null   float64
 5   Engine Cylinders   7647 non-null   float64
 6   Transmission Type  7647 non-null   object
 7   Driven_Wheels      7647 non-null   object
 8   Number of Doors    7647 non-null   float64
 9   Market Category    6019 non-null   object
 10  Vehicle Size       7647 non-null   object
 11  Vehicle Style      7647 non-null   object
 12  highway MPG        7647 non-null   float64
 13  city mpg           7647 non-null   float64
 14  Popularity         7647 non-null   float64
 15  MSRP               7647 non-null   float64
dtypes: float64(8), object(8)
memory usage: 956.0+ KB

In [6]:
df_car["Market Category"] = df_car["Market Category"].fillna("Common")
df_car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011.0,gasoline,335.0,6.0,MANUAL,RWD,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26.0,19.0,3916.0,46135.0
1,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",Compact,Convertible,28.0,19.0,3916.0,40650.0
2,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,High-Performance",Compact,Coupe,28.0,20.0,3916.0,36350.0
3,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",Compact,Coupe,28.0,18.0,3916.0,29450.0
4,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,Luxury,Compact,Convertible,28.0,18.0,3916.0,34500.0

In [7]:
temp = df_car
temp[["Category 1", "Category 2", "Category 3", "Category 4", "Category 5"]] = df_car[
    "Market Category"
].str.split(",", expand=True)
temp.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,...,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,Category 1,Category 2,Category 3,Category 4,Category 5
0,BMW,1 Series M,2011.0,gasoline,335.0,6.0,MANUAL,RWD,2.0,"Factory Tuner,Luxury,High-Performance",...,Coupe,26.0,19.0,3916.0,46135.0,Factory Tuner,Luxury,High-Performance,None,None
1,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",...,Convertible,28.0,19.0,3916.0,40650.0,Luxury,Performance,None,None,None
2,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,"Luxury,High-Performance",...,Coupe,28.0,20.0,3916.0,36350.0,Luxury,High-Performance,None,None,None
3,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,"Luxury,Performance",...,Coupe,28.0,18.0,3916.0,29450.0,Luxury,Performance,None,None,None
4,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,Luxury,...,Convertible,28.0,18.0,3916.0,34500.0,Luxury,None,None,None,None

In [8]:
temp_dummy1 = pd.get_dummies(temp["Category 1"])
temp_dummy2 = pd.get_dummies(temp["Category 2"])
temp_dummy3 = pd.get_dummies(temp["Category 3"])
temp_dummy4 = pd.get_dummies(temp["Category 4"])
temp_dummy5 = pd.get_dummies(temp["Category 5"])

In [9]:
temp_dummy1 = temp_dummy1.reindex(sorted(temp_dummy1.columns), axis=1)
temp_dummy2 = temp_dummy2.reindex(sorted(temp_dummy1.columns), axis=1)
temp_dummy3 = temp_dummy3.reindex(sorted(temp_dummy1.columns), axis=1)
temp_dummy4 = temp_dummy4.reindex(sorted(temp_dummy1.columns), axis=1)
temp_dummy5 = temp_dummy5.reindex(sorted(temp_dummy1.columns), axis=1)

In [10]:
category_dummy = temp_dummy1 | temp_dummy2 | temp_dummy3 | temp_dummy4 | temp_dummy5
category_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Common            7647 non-null   bool
 1   Crossover         7647 non-null   bool
 2   Diesel            7647 non-null   bool
 3   Exotic            7647 non-null   bool
 4   Factory Tuner     7647 non-null   bool
 5   Flex Fuel         7647 non-null   bool
 6   Hatchback         7647 non-null   bool
 7   High-Performance  7647 non-null   bool
 8   Hybrid            7647 non-null   bool
 9   Luxury            7647 non-null   bool
 10  Performance       7647 non-null   bool
dtypes: bool(11)
memory usage: 82.3 KB

In [11]:
old_df_car = df_car
df_car = pd.concat([old_df_car.drop("Market Category", axis=1), category_dummy], axis=1)
df_car = df_car.drop(
    [
        "Category 1",
        "Category 2",
        "Category 3",
        "Category 4",
        "Category 5",
        "Diesel",
        "Flex Fuel",
    ],
    axis=1,
)
display(df_car)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,...,MSRP,Common,Crossover,Exotic,Factory Tuner,Hatchback,High-Performance,Hybrid,Luxury,Performance
0,BMW,1 Series M,2011.0,gasoline,335.0,6.0,MANUAL,RWD,2.0,Compact,...,46135.0,False,False,False,True,False,True,False,True,False
1,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,Compact,...,40650.0,False,False,False,False,False,False,False,True,True
2,BMW,1 Series,2011.0,gasoline,300.0,6.0,MANUAL,RWD,2.0,Compact,...,36350.0,False,False,False,False,False,True,False,True,False
3,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,Compact,...,29450.0,False,False,False,False,False,False,False,True,True
4,BMW,1 Series,2011.0,gasoline,230.0,6.0,MANUAL,RWD,2.0,Compact,...,34500.0,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,Acura,ZDX,2011.0,gasoline,300.0,6.0,AUTOMATIC,AWD,4.0,Midsize,...,50520.0,False,True,False,False,True,False,False,True,False
7643,Acura,ZDX,2012.0,gasoline,300.0,6.0,AUTOMATIC,AWD,4.0,Midsize,...,46120.0,False,True,False,False,True,False,False,True,False
7644,Acura,ZDX,2012.0,gasoline,300.0,6.0,AUTOMATIC,AWD,4.0,Midsize,...,56670.0,False,True,False,False,True,False,False,True,False
7645,Acura,ZDX,2012.0,gasoline,300.0,6.0,AUTOMATIC,AWD,4.0,Midsize,...,50620.0,False,True,False,False,True,False,False,True,False
7646,Acura,ZDX,2013.0,gasoline,300.0,6.0,AUTOMATIC,AWD,4.0,Midsize,...,50920.0,False,True,False,False,True,False,False,True,False

In [12]:
df_car = df_car.astype(
    {
        "Year": "int64",
        "Engine HP": "int64",
        "Engine Cylinders": "int64",
        "Number of Doors": "int64",
        "highway MPG": "int64",
        "city mpg": "int64",
        "Popularity": "int64",
        "MSRP": "int64",
    }
)
df_car["Vehicle_Title_Partial"] = (
    df_car["Year"].astype(str)
    + " "
    + df_car["Make"].astype(str)
    + " "
    + df_car["Model"].astype(str)
    + " "
    + df_car["Vehicle Style"]
)

In [13]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   7647 non-null   object
 1   Model                  7647 non-null   object
 2   Year                   7647 non-null   int64
 3   Engine Fuel Type       7647 non-null   object
 4   Engine HP              7647 non-null   int64
 5   Engine Cylinders       7647 non-null   int64
 6   Transmission Type      7647 non-null   object
 7   Driven_Wheels          7647 non-null   object
 8   Number of Doors        7647 non-null   int64
 9   Vehicle Size           7647 non-null   object
 10  Vehicle Style          7647 non-null   object
 11  highway MPG            7647 non-null   int64
 12  city mpg               7647 non-null   int64
 13  Popularity             7647 non-null   int64
 14  MSRP                   7647 non-null   int64
 15  Common                 7647 non-null   bool
 16  Crossover              7647 non-null   bool
 17  Exotic                 7647 non-null   bool
 18  Factory Tuner          7647 non-null   bool
 19  Hatchback              7647 non-null   bool
 20  High-Performance       7647 non-null   bool
 21  Hybrid                 7647 non-null   bool
 22  Luxury                 7647 non-null   bool
 23  Performance            7647 non-null   bool
 24  Vehicle_Title_Partial  7647 non-null   object
dtypes: bool(9), int64(8), object(8)
memory usage: 1023.2+ KB

In [14]:
df_car["Make"].value_counts()

Make
Volkswagen       686
Chevrolet        646
Toyota           597
Ford             452
Nissan           451
Honda            388
Cadillac         338
BMW              305
Audi             272
Mercedes-Benz    264
GMC              261
Dodge            256
Infiniti         236
Mazda            230
Hyundai          220
Subaru           181
Volvo            177
Acura            174
Kia              173
Lexus            140
Mitsubishi       130
Buick            120
Porsche          120
Land Rover       115
Lincoln          112
Suzuki           106
Aston Martin      85
Chrysler          81
FIAT              62
Bentley           54
Maserati          42
Lamborghini       42
Rolls-Royce       26
Ferrari           23
Lotus             21
Tesla             18
Maybach           16
HUMMER             9
Pontiac            5
Alfa Romeo         5
McLaren            5
Genesis            3
Name: count, dtype: int64

In [15]:
df_car["Year"].value_counts()

Year
2015    2115
2016    2100
2017    1650
2014     529
2012     353
2013     345
2010     288
2011     267
Name: count, dtype: int64

In [16]:
df_car["Engine Fuel Type"].value_counts()

Engine Fuel Type
gasoline     6715
flex-fuel     723
diesel        143
electric       66
Name: count, dtype: int64

In [17]:
df_car["Engine HP"].isna().value_counts()

Engine HP
False    7647
Name: count, dtype: int64

In [18]:
df_car["Engine HP"].min()

63

In [19]:
df_car["Engine HP"].max()

750

In [20]:
df_car["Engine Cylinders"].value_counts()

Engine Cylinders
4     3410
6     2584
8     1214
12     174
5      106
0       76
10      65
3       18
Name: count, dtype: int64

In [21]:
df_car["Transmission Type"].value_counts()

Transmission Type
AUTOMATIC           5759
MANUAL              1254
AUTOMATED_MANUAL     566
DIRECT_DRIVE          68
Name: count, dtype: int64

In [22]:
df_car["Driven_Wheels"].value_counts()

Driven_Wheels
FWD    2996
AWD    1969
RWD    1859
4WD     823
Name: count, dtype: int64

In [23]:
df_car["Number of Doors"].value_counts()

Number of Doors
4    6059
2    1588
Name: count, dtype: int64

In [24]:
df_car["Vehicle Size"].value_counts()

Vehicle Size
Midsize    2987
Compact    2814
Large      1846
Name: count, dtype: int64

In [25]:
df_car["Vehicle Style"].value_counts()

Vehicle Style
Sedan          2116
SUV            1977
Pickup          970
Hatchback       797
Coupe           720
Convertible     531
Wagon           311
Minivan         225
Name: count, dtype: int64

In [26]:
df_car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,...,Common,Crossover,Exotic,Factory Tuner,Hatchback,High-Performance,Hybrid,Luxury,Performance,Vehicle_Title_Partial
0,BMW,1 Series M,2011,gasoline,335,6,MANUAL,RWD,2,Compact,...,False,False,False,True,False,True,False,True,False,2011 BMW 1 Series M Coupe
1,BMW,1 Series,2011,gasoline,300,6,MANUAL,RWD,2,Compact,...,False,False,False,False,False,False,False,True,True,2011 BMW 1 Series Convertible
2,BMW,1 Series,2011,gasoline,300,6,MANUAL,RWD,2,Compact,...,False,False,False,False,False,True,False,True,False,2011 BMW 1 Series Coupe
3,BMW,1 Series,2011,gasoline,230,6,MANUAL,RWD,2,Compact,...,False,False,False,False,False,False,False,True,True,2011 BMW 1 Series Coupe
4,BMW,1 Series,2011,gasoline,230,6,MANUAL,RWD,2,Compact,...,False,False,False,False,False,False,False,True,False,2011 BMW 1 Series Convertible

In [27]:
df_car.to_csv("../datasets/cars/cars_dataset.csv", sep=",")

In [28]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   7647 non-null   object
 1   Model                  7647 non-null   object
 2   Year                   7647 non-null   int64
 3   Engine Fuel Type       7647 non-null   object
 4   Engine HP              7647 non-null   int64
 5   Engine Cylinders       7647 non-null   int64
 6   Transmission Type      7647 non-null   object
 7   Driven_Wheels          7647 non-null   object
 8   Number of Doors        7647 non-null   int64
 9   Vehicle Size           7647 non-null   object
 10  Vehicle Style          7647 non-null   object
 11  highway MPG            7647 non-null   int64
 12  city mpg               7647 non-null   int64
 13  Popularity             7647 non-null   int64
 14  MSRP                   7647 non-null   int64
 15  Common                 7647 non-null   bool
 16  Crossover              7647 non-null   bool
 17  Exotic                 7647 non-null   bool
 18  Factory Tuner          7647 non-null   bool
 19  Hatchback              7647 non-null   bool
 20  High-Performance       7647 non-null   bool
 21  Hybrid                 7647 non-null   bool
 22  Luxury                 7647 non-null   bool
 23  Performance            7647 non-null   bool
 24  Vehicle_Title_Partial  7647 non-null   object
dtypes: bool(9), int64(8), object(8)
memory usage: 1023.2+ KB

In [29]:
df_car_partial = df_car
df_car_partial["Engine Fuel Type"].replace(
    ["gasoline", "flex-fuel", "diesel", "electric"], [0, 1, 2, 3], inplace=True
)
df_car_partial["Transmission Type"].replace(
    ["AUTOMATIC", "MANUAL", "AUTOMATED_MANUAL", "DIRECT_DRIVE"],
    [0, 1, 2, 3],
    inplace=True,
)
df_car_partial["Driven_Wheels"].replace(
    ["FWD", "AWD", "RWD", "4WD"], [0, 1, 2, 3], inplace=True
)
df_car_partial["Vehicle Size"].replace(
    ["Midsize", "Compact", "Large"], [0, 1, 2], inplace=True
)
df_car_partial["Vehicle Style"].replace(
    ["Sedan", "SUV", "Pickup", "Hatchback", "Coupe", "Convertible", "Wagon", "Minivan"],
    [0, 1, 2, 3, 4, 5, 6, 7],
    inplace=True,
)
city_mean = np.mean(df_car_partial["city mpg"])
df_car_partial["City Preference"] = df_car_partial["city mpg"] > city_mean
df_car_partial["Highway Preference"] = df_car_partial["City Preference"] != True
df_car_partial.drop("Make", axis=1, inplace=True)
df_car_partial.drop("Model", axis=1, inplace=True)
df_car_partial.drop("Year", axis=1, inplace=True)
df_car_partial.drop("highway MPG", axis=1, inplace=True)
df_car_partial.drop("city mpg", axis=1, inplace=True)
df_car_partial.drop("Vehicle_Title_Partial", axis=1, inplace=True)
df_car_partial.replace({True: 1, False: 0}, inplace=True)
df_car_partial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Engine Fuel Type    7647 non-null   int64
 1   Engine HP           7647 non-null   int64
 2   Engine Cylinders    7647 non-null   int64
 3   Transmission Type   7647 non-null   int64
 4   Driven_Wheels       7647 non-null   int64
 5   Number of Doors     7647 non-null   int64
 6   Vehicle Size        7647 non-null   int64
 7   Vehicle Style       7647 non-null   int64
 8   Popularity          7647 non-null   int64
 9   MSRP                7647 non-null   int64
 10  Common              7647 non-null   int64
 11  Crossover           7647 non-null   int64
 12  Exotic              7647 non-null   int64
 13  Factory Tuner       7647 non-null   int64
 14  Hatchback           7647 non-null   int64
 15  High-Performance    7647 non-null   int64
 16  Hybrid              7647 non-null   int64
 17  Luxury              7647 non-null   int64
 18  Performance         7647 non-null   int64
 19  City Preference     7647 non-null   int64
 20  Highway Preference  7647 non-null   int64
dtypes: int64(21)
memory usage: 1.2 MB

C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_car_partial["Engine Fuel Type"].replace(["gasoline", "flex-fuel", "diesel", "electric"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial["Engine Fuel Type"].replace(["gasoline", "flex-fuel", "diesel", "electric"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_car_partial["Transmission Type"].replace(["AUTOMATIC", "MANUAL", "AUTOMATED_MANUAL", "DIRECT_DRIVE"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial["Transmission Type"].replace(["AUTOMATIC", "MANUAL", "AUTOMATED_MANUAL", "DIRECT_DRIVE"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_car_partial["Driven_Wheels"].replace(["FWD", "AWD", "RWD", "4WD"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial["Driven_Wheels"].replace(["FWD", "AWD", "RWD", "4WD"], [0, 1, 2, 3], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_car_partial["Vehicle Size"].replace(["Midsize", "Compact", "Large"], [0, 1, 2], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial["Vehicle Size"].replace(["Midsize", "Compact", "Large"], [0, 1, 2], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_car_partial["Vehicle Style"].replace(["Sedan", "SUV", "Pickup", "Hatchback", "Coupe", "Convertible", "Wagon", "Minivan"], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial["Vehicle Style"].replace(["Sedan", "SUV", "Pickup", "Hatchback", "Coupe", "Convertible", "Wagon", "Minivan"], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
C:\Users\guilh\AppData\Local\Temp\ipykernel_28228\2574556005.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_car_partial.replace({True: 1, False: 0}, inplace=True)

In [30]:
df_car_partial.to_csv("../datasets/cars/cars_dataset_numbers.csv", sep=",")